/* google font*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* variables */
:root {
  --header-height: 3rem;
  /* colors*/
  /* change favorite color */
  --hue-color: 250;
  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 5%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;
  --canclebtn-color: #ff4757;

  /* font and typography */
  --body-font: "Poppins", sans-serif;
  /* 1rem=16px*/
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  /* font wight */
  --font-medium: 500;
  --font-semi-bold: 600;
  /* margenes bottom */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 2rem;

  /* z-index */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}


/* base */
*,*::after,*::before {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}


html {
  scroll-behavior: smooth;
}
html, body {
  overflow-x: auto;
}
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
}
h1,
h2,
h3,
h4 {
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

/* reusable classess */
.section {
  padding: 2rem 0 4rem;
}
.section_title {
  font-size: var(--h1-font-size);
}
.text-align {
  text-align: center;
}
.section_subtitle {
  display: block;
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-3);
}
.section_title,
.section_subtitle {
  text-align: center;
}

/* layout */
.container {
  max-width: 100%;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}
/*--==================== navbar header ====================--*/
.header{
  margin-top:3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container{
  display: flex;
  top: 0;
  left: 0;
  position: fixed;
  right: 0;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
  margin:auto auto;
  z-index: 999;
  padding: 1rem;
  align-items: center;
  background-color: var(--body-color);
}
.nav{
  margin-right: 8rem;
}

.logo{
  color: var(--text-color);
  font-weight:var(--font-semi-bold);
  z-index: 999;
  margin-left: 6.5rem;
  
}
.toggle-bar{
  display: none;
  z-index: 9999;
}
.nav-link{
  display: inline;
  margin: 0 0.8rem;
}
.nav-link>a{
  font-weight:var(--font-semi-bold);
  color:var(--text-color) ;
}
.active{
  color:#F9F871 !important;
}
.dark-icon{
  display: inline;
  position: absolute;
  top: 2.3vh;
  right:7vw;
  font-size: 1.2rem;
  color: var(--text-color);
  z-index: 999;
}
.logo:hover{
  color: var(--first-color-alt);
  cursor: pointer;
}
.nav-link>a:hover{
  color:var(--first-color-alt);
}
.dark-icon:hover{
  color: var(--first-color-alt);
  cursor: pointer;
}
/*--==================== navbar header end ====================--*/
.upbtn{
  width: 50px;
  height:50px;
  background-color: var(--first-color);
  position: fixed;
  border-radius: 5px;
  right: 1rem;
  bottom: 1rem;
  color: #dfe4ea;
  text-align: center;
  font-size: 2rem;
  transition: transform 0.2s ease-in;
  display: none;
}
.upbtn span{
  color: #dfe4ea;
}
.mains{
  position: relative;
}
.upbtn.active{
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}
.upbtn.active:hover{
  cursor: pointer;
}
.upbtn:hover{
 cursor: pointer !important;
 transform: translateY(2px);
}
/*--==================== Home ====================--*/
.home_content{
  display: grid;
  grid-template-columns:0.5fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.home_img{
  order:1;
  width: 20rem;
}
.home_social{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  font-size: 1.2rem;
}
.home_social-icon{
  color: var(--first-color);
}
.home_title{
  font-size: 3rem;
}
.home_subtitle{
  padding:1rem 0;
}
.home_description{
  margin-bottom: 1rem;
  width: 100%;
}
.home_blob{
  fill: var(--first-color);
}
.home_blob-img{
  width: 170px;
}
.home_scroll{
  margin-left:21%;
  margin-top: 4rem;
  transition: transform 0.2s ease-in;
}
.home_scroll:hover{
  transform: translateY(0.25rem);
}

.home_scroll-button{
text-align: center;
}
.home_scroll-mouse{
  font-size: 2rem;
  color: var(--first-color) ;
  font-weight: var(--font-medium);
}
.home_scroll-name{
  position:relative; bottom:3px;
  color: var(--text-color) ;
}
.home_scroll-arrow{
  position:relative; bottom:3px;
  color: var(--first-color) ;
  font-weight: var(--font-medium);
}

/*--==================== button ====================--*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding:clamp(0.2rem,0.9rem,1rem);
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
}
.buttons {
  display: inline-block;
  text-align: center;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.2rem;
  font-weight: var(--font-medium);
}
.button:hover {
  background-color: var(--first-color-alt);
}
.buttons:hover {
  background-color: var(--first-color-alt);
}
.button-icon {
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: 0.3s;
}
/*--==================== about ====================--*/
.section-about{
  padding: 0rem 0 4rem !important;
}
.about_container{
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.about_img{
  transition:opacity 1s ease-in-out , transform 1s ease-in-out ;
  overflow-x: hidden;
  opacity: 0;
  transform: translateY(-20%);
}
.about_img.appear{
  transform: translateX(0);
  opacity: 1;
}
.about_img {
  width: 27rem;
  border-radius: 0.5rem;
  justify-self: center;
  align-self: center;
  order: 0;
}
.about_data{
  flex: 1 1 15rem;
  transition:opacity 1s ease-in-out , transform 1s ease-in-out ;
  opacity: 0;
  overflow-x: hidden;
  transform: translateY(20%);
}
.about_data.appear{
  transform: translateX(0);
  opacity: 1;
}
.about_description {
  margin-bottom: var(--mb-2-5);
  text-align: justify;
  order: 1;
  position: relative;
  left: 50%;
  top: 10%;
  transform: translate(-50% ,0%);
  padding-left:10%;
}
.about_info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2-5);
  flex-wrap: wrap;
}
.about_info-title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--first-color);
}
.about_info-name {
  font-size: var(--small-font-size);
}
.about_info-title,
.about_info-name {
  display: block;
}
.about_buttons {
  display: flex;
  justify-content: center;
}
/*--==================== SKills ====================--*/
.skills_container {
  width: 70%;
  position: relative;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2,minmax(100px,1fr));
  grid-auto-rows: auto;
  gap: 1rem;
}
.skills_header {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-2-5);
  cursor: pointer;
}
.skills_icon,
.Skills_arrow {
  font-size: 2rem;
}
.skills_icon {
  margin-right: var(--mb-0-75);
}
.active-skill{
  transform: rotate(25deg) !important;
}

.skills_subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}
.Skills_arrow {
  margin-left: auto;
  transition: 0.4s;
}
.Skills_arrow {
  row-gap: 1.5rem;
  transition: ease 0.5s;
}
.skills_title {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-5);
}
.skills_name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}
.skills_bar,
.skills_percentage {
  height: 5px;
  border: 0.25rem;
}
.skills_bar {
  background-color: var(--first-color-lighter);
}
.skills_percentage {
  display: block;
  background-color: var(--first-color);
}
.skills_html {
  width: 99%;
}
.skills_css {
  width: 90%;
}
.skills_javascript {
  width: 98%;
}
.skills_bootstrap {
  width: 90%;
}
.skills_php {
  width: 99%;
}
.skills_laravel {
  width: 90%;
}
.skills_PHP {
  width: 98%;
}
.skills_LARAVEL {
  width: 90%;
}
.skills_html {
  width: 99%;
}
.skills_css {
  width: 90%;
}
.skills_javascript {
  width: 98%;
}
.skills_bootstrap {
  width: 90%;
}
.skills_Figma {
  width: 99%;
}
.skills_sketch {
  width: 90%;
}
.skills_adobe {
  width: 98%;
}
.skills_photoshop {
  width: 90%;
}
.skills_close .skills_list {
  height: 0;
  overflow: hidden;
}
.skills_open .skills_list {
  height: max-content;
  margin-bottom: 1rem;
}
.skills_open .Skills_arrow {
  transform: rotate(-180deg);
}
/*--============================ ======================  *--==================== *--==================== Qualification ====================--*/
.title-sub {
  text-align: center;
}
.wor-edu {
  margin: 1rem;
  text-align: center;
}
.edu {
  margin: 0.5rem;
}
.work {
  margin: 0.5rem;
}
.icon-wor-ed {
  margin: 0.5rem;
}
.work:hover,
.edu:hover {
  color: #333333;
  transform: translate(2);
  cursor: pointer;
}

/*--==================== qualifi-item ====================--*/
.qualification{
  width: 100%;
}
.container-qualification{
display: flex;
justify-content: center;
align-items: center;
}
.qual_header {
  text-align: center;
  margin: 0.2rem;
  width: 100%;
}
.quali_tabs {
  text-align: center;
  margin-bottom: 1.7rem;
}

.tab_item {
  font-size: 1.6rem;
  padding: 0.5rem;
}
.quali_section {
  display: grid;
  grid-auto-rows: auto;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.work_tab {
  margin: 0 1.5rem;
}
.work_tab:hover {
  cursor: pointer;
  color: var(--first-color);
}
.educ_tab {
  margin: 0 1.5rem;
}
.educ_tab:hover {
  cursor: pointer;
  color: var(--first-color);
}
.quali_item {
  display: grid;
  grid-template-columns: minmax(5rem,20rem) 100px minmax(5rem,20rem);
  column-gap: 1rem;
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.line_circle {
  width: 100%;
  height: 100%;
  padding: 0 2rem;
}
.quali_desc{
  width: 100%;
  text-align: center;
}
.circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: blue;
  border-radius: 50%;
}

.line {
  display: block;
  width: 0.05rem;
  height: 100%;
  background-color: var(--first-color-alt);
  transform: translate(5px,-6px);
}
.inactive {
  display: none;
}
.tab-active{
  color: var(--first-color);
}
.tabcolor {
  color: blue;
}
/*--==================== services section ====================--*/
.services-section {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.services-li{
  list-style: none !important;
   
}

.services-li li::before{
  content: '\2611';
  padding-right: 0.5rem;
}
.service-container {
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
}
.services-card {
  width: 30%;
  max-width: 17rem;
  height: auto;
  margin: 1.5rem;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}

.services-icon {
  display: inline-block;
  font-size: 1.5rem;
  margin-left: 10%;
  margin-top: 2vh;
}
.services-desc {
  margin-left: 10%;
  margin-top: 5%;
}
.services-desc p {
  font-weight: var(--font-semi-bold);
  margin-bottom: 2%;
}
.services-desc span {
  font-size: var(--small-font-size);
  display: inline-block;
  margin-bottom: 8%;
}
.services-desc span:hover {
  cursor: pointer;
}

/*--==================== services section more part ====================--*/
.service-container-more {
  display: none;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: rgba(3, 3, 3, 0.7);
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 999;
}
.popup .service-container-more{
  display: flex;
}

.services-card-more {
  width: auto;
  min-height: 12rem;
  height: auto;
  width:100%;
  max-width:30rem;
  background-color: #fff;
  margin: 1.5rem;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 1rem;
}
.services-desc {
  margin: 3%;
  background-color: #fff;
  font-size: 16px;
}
.services-desc > ul {
  list-style: initial;
  list-style-position: inside;
}

.cancelbtn {
  position: absolute;
  top: 4%;
  right: 5%;
  font-size: 1.4rem;
  cursor: pointer;
}
.cancelbtn:hover {
  color: var(--container-color);
  background-color: var(--canclebtn-color);
  background-size: 2px;
}

/*--==================== portifolio section start ====================--*/
#portifolio{
  overflow-x: hidden;
}
.portifolio-container>.item{
display: flex;
height:auto;
width:20%;
row-gap: 1rem;
text-align: center;
flex-direction: column;
padding: 2rem;
}
.item>.img{
  width: 100%;
  height: 40%;
  padding-left: 0.8rem;
}
.item>h3{
  text-align: start;
  padding-top: 1rem;
  width: 100%;
  height: 10%;
}
.item>p{
  text-align: justify;
  width:100%;
}
.item>.img>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.button-port{
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding:clamp(0.2rem,0.9rem,1rem);
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
  width: 10rem;
  margin-top: 1rem;
  font-size: 1rem;
  padding: 1rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.button-port >i{
  font-size: 1.2rem;
}
.portifolio-container{
  display: flex;
  width: 100%;
  box-sizing: border-box;
  }
  .controlcontainer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 4px;
   
  }
  .control{
    color: white;
  }
  .controli{
    text-align: center;
    width: 30px;
    height: 30px;
    color: #fff;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .controli.active{
    background-color: var(--first-color);
    color: white !important;
  }
  .controli:hover{
    cursor: pointer;
  }
/*--==================== portifolio section end ====================--*/


/*--====================contact Me section start ====================--*/
.contact-me{
  margin-top: 3rem;
  margin: 0 auto;
  width: 80%;
}
.contact-header{
  position: relative;
  font-size: 1.5rem;
  line-height: 0.1rem;
  width: 100%;
  margin: 1rem auto;
}
.contact-header>span{
  background-color: white;
  padding: 0 10px;
}

.contact-form{
  margin-bottom: 5rem;
}
  .contact-form>h2{
    text-align: center;
    font-size:clamp(20px,16px,22px) ;
    padding-bottom: 1rem;
    width: 100%;
  }
.content-item{
  margin-top: 6vh;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  background-color: var(--container-color);
  width: 100%;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 5vh;
}
.contact-image{
width: 32rem;
}
.contact-image>img{
  display: block;
  margin-left:auto;
  margin-right: auto;
  width:clamp(200px,70%,100%);
  border-radius: 5rem;

}
.contact-form{
  width: 32rem;
}
.contact-input{
  display: grid;
  column-gap: 5%;
  row-gap: 5%;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}
.contact-input>div>input,textarea:focus{
  outline: none;
}
.contact-input>div>input,textarea{
width: 100%;
background-color: #dfe4ea;
padding: 1rem;
}
.subutton{
grid-column: 1/-1;
margin-bottom: 5vh;
}
.subutton>input{
  border-radius: 10px;
  background-color:var(--first-color) !important;
  color: var(--body-color);
  }
  .subutton>input:hover{
    background-color: var(--first-color-alt) !important;
    cursor: pointer;
  }
  #my-form-status{
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
  }
  #my-form-status.success{
    animation: status  4s ease forwards;
  }
  @keyframes status{
    0%{
      opacity: 1;
      pointer-events: all;
      padding: 1rem;
    }
    90%{
      opacity: 1;
      pointer-events: all;
      padding: 1rem;
    }
    100%{
      opacity: 0;
      pointer-events: none;
      padding: 0;
    }
  }
/*--====================contact Me section end ====================--*/
/*--====================footer section start ====================--*/
.footer-container{
  background-color: var(--first-color);
}
.footer-items{
  display: flex;
  justify-content: space-evenly;
  align-items:flex-start;
  padding: 4vh;
  flex-wrap: wrap;
  gap: 2vw;
}
.social-media{
  justify-self: center;
}
.social-media>a{
  display: block;
  padding: .3vh 0;
  color: var(--body-color);
}
.links>a{
  display: block;
  padding: .3vh 0;
  color: var(--body-color);
}
.social-media>a:hover{
  color: #70a1ff;
}
.links>a:hover{
  color: #70a1ff;
}
.social-media>h3{
  color: var(--body-color);
  border-bottom: 1px solid var(--input-color);
}
.links>h3{
  color: var(--body-color);
  border-bottom: 1px solid var(--input-color);
}
.logo>img{
  width: clamp(100px,200px,400px);
  height: 40%;
  border-radius: 15px;
  margin-left: 0;
  margin-right: auto;
}
.creadit>p{
color: var(--first-color-lighter);
text-align: center;
}
.creadit>p>span{
color: var(--body-color);
font-weight: var(--font-medium);
}
/*--==================== footer section end====================--*/
/*--==================== Media Queries ====================--*/
/*--==================== Media Queries 313px below ====================--*/
@media screen and (min-width: 991px) {
.toggle-bar{
  display: none;
  z-index: 999;
}
.active{
  color:var(--first-color) !important;
}
.service-container {
  width: 100%;
  padding: 0 3rem;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
}

}
@media screen and (max-width: 991px) {
  .active{
    color:#F9F871 !important;
  }
  
  .skills_container {
    row-gap: 0;
    width: 50%;
    margin: 0 auto;
    display: block;
  }
  .about_container{
    width: 70%;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .about_img {
    width: 30rem;
    border-radius: 0.5rem;
    justify-self: center;
    align-self: center;
    margin-bottom: 1rem;
  }
  .about_description {
    text-align:justify;
    word-spacing: -2px;
    padding: 0;
    margin-bottom: var(--mb-2-5);
    width: 100% !important;
  }
  .nav-wrapper{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    row-gap: 1vh;
    left: 50%;
    top: -100vh;
    transform: translate(-50%,-50%);
    background-color:rgba(255, 255, 255, 1);
    width: 100%;
    border-top: 1px solid var(--first-color-alt);
    padding: 1rem;
    transition: top 0.4s ease;
  }
  .nav-wrapper.active{
    top:14rem;
  }
  .dark-icon{
    display: inline;
    position: absolute;
    top: 3.8vh;
    right:7vw;
    font-size: 1.2rem;
    color: var(--text-color);
  }
  .toggle-bar{
    display: block;
    position: relative;
    font-size: 1.8rem;
    cursor: pointer;
    z-index: 999;

  }
 
  .nav-link>a{
    color: #fff;
    display: inline-block;
    background-color: var(--text-color);
    width: 100%;
    text-align: center;
  }
  .nav-link{
    background-color: var(--text-color);
    width: 50%;
    padding: 0.5rem;
    border-radius: 5px;
  }
  .header-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80px !important;
    align-items: center;
    position: fixed;
  }

}
@media screen and (max-width: 768px) {

  .nav{
   margin-right: 0;
    justify-content: space-between;
  }
  
  .logo{
    color: var(--text-color);
    font-weight:var(--font-semi-bold);
    z-index: 999;
    margin-left: 6.5%;
    
  }
  .dark-icon{
    display: block;
    position: absolute;
    top: 3.8vh;
    right:2vw;
    font-size: 1.2rem;
    color: var(--text-color);
  }
  .home_content{
    display: grid;
    grid-template-columns:0.5fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .home_img{
    order: -1;
  }
  .home_social{
    order: -2;
  }
  .home_data{
    grid-column: 1/-1;
  }
  .home_title{
    margin-left: 20vw;
  }
  .home_subtitle,.home_description{
    padding-left:20vw ;
  }
  .toggle-bar{
    display: block;
    font-size: 1.8rem;
    cursor: pointer;
    margin-right: 2vw;
    transition: transform 0.2s ease-in-out;
    z-index: 999;
  }
  .toggle-bar:hover{
    transform: translateY(0.1rem);
  }
  .button{
    margin: 0 20%;
  }
}
@media screen and (max-width: 448px) {
  .header-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .contact-header{
    position: relative;
    font-size: 1.5rem;
    border-bottom: 1px solid rgba(3, 3, 3, 0.7);
    line-height: 0.1rem;
    width: 100%;
    margin: 2rem auto;
  }
  .dark-icon{
    display: block;
    position: absolute;
    top: 3.8vh;
    right:2vw;
    font-size: 1.2rem;
    color: var(--text-color);
  }
  .home_content{
    display: grid;
    grid-template-columns:0.51fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .home_img{
    order: -1;
    width: 100%;
  }
  .home_social{
    order: -2;
    width: 100%;
  }
  .home_data{
    grid-column: 1/-1;
  }
  .home_title{
    margin-left: 20vw;
    font-size: 100%;
  }
  .home_subtitle,.home_description{
    padding-left:20vw ;
    font-size: 100%;
  }
  .button{
    width: 10rem;
    flex-basis: 10rem;
    justify-self: flex-start;
    font-size: 100%;
  }
  .contactbtn{
    display: flex;
  }
 
  .toggle-bar{
    display: block;
    font-size: 1.8rem;
    cursor: pointer;
    margin-right: 2vw;
    transition: transform 0.2s ease-in-out;
    z-index: 999;
  }
  .toggle-bar:hover{
    transform: translateY(0.1rem);
  }
}

@media screen and (max-width: 320px) {
  .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  .links{
    position: relative;
    left: 8%;
    transform: translateX(-50);
   }
  .home_content{
    display: grid;
    grid-template-columns:0.5fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
  }
  .nav{
     margin-right: 0;
     justify-content: space-between;
     display: inline-block;
     width: 100%;
     text-align: center;
   }
   .toggle-z{
   position: relative;
   left: 50%;
   transform: translateX(-50%);

  }
   
   .logo{
     width: 100%;
     text-align: center;
     color: var(--text-color);
     font-weight:var(--font-semi-bold);
     z-index: 999;
     margin-left: 6.5%;  
   }
  .contact-input{
    display: grid;
    column-gap: 5%;
    row-gap: 5%;
    grid-template-columns: repeat(auto-fit,minmax(100%,1fr));
  }
  .home_content{
    display: grid;
    grid-template-columns: minmax(20px,0.5fr) minmax(40px,1fr);
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
 
  .contact-form>h2{
    text-align: center;
    font-size:clamp(4px,12px,22px) ;
    padding-bottom: 1rem;
    width: 100%;
  }
  .contact-header{
    position: relative;
    font-size:clamp(0.4rem,0.9rem,1.5rem) ;
    border-bottom: 1px solid rgba(3, 3, 3, 0.7);
    line-height: 0.1rem;
    width: 100%;
    margin: 1rem auto;
  }
  .services-card {
    width: 100vw;
    height: auto;
    margin: 1.5rem;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  }
  .skills_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }

  .about_img {
  width: 90vw;
  margin-right: auto;
  border-radius: 0.5rem;
  justify-self:center;
  align-self:center;
}

  .logo{
    color: var(--text-color);
    font-weight:var(--font-semi-bold);
    z-index: 999;
  }
  .dark-icon{
    display: inline;
    position: absolute;
    top: 0;
    right:0;
    font-size: 1.2rem;
    color: var(--text-color);
    z-index: 999;
  }
  .button{
    margin-left:1rem;
    width: 100%;
    flex-basis: 10rem;
    font-size: 100%;
    padding: 0.8rem;
  }
  .contactbtn{
    margin-left: 3rem;
  }

}

/* font size for large devices */



